*.sketch
*.xd
*.fig
CUREAI.pptx
ProjectReportReview1_21bit0524.pdf
# Ignore node_modules directory
node_modules/*
package-lock.json
uploads/*
.vscode/

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
